/********************** TYPOGRAPHIE **************************/

@font-face {
   font-family: "lobster";
   src: url("./police/lobster_1.3-webfont.woff2") format("woff2"), url("./police/lobster_1.3-webfont.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "montserratbold";
   src: url("./police/montserrat-bold-webfont.woff2") format("woff2"), url("./police/montserrat-bold-webfont.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "montserratregular";
   src: url("./police/montserrat-regular-webfont.woff2") format("woff2"), url("./police/montserrat-regular-webfont.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}
body {
   margin: 0 auto;
}

/*************************     HEADER     *************************/

header {
   background-repeat: no-repeat;
   background-size: cover;
   height: 400px;
}
.header-container {
   display: flex;
   align-items: center;
}

#header-title {
   font-family: "lobster", sans-serif;
   font-size: 93px;
   margin: 0px 0px 0px 34px;
   color: wheat;
}
#header-nav {
   margin-left: auto;
   margin-right: 19px;
}
#header-ul {
   display: flex;
   justify-content: space-between;
   column-gap: 20px;
   list-style: none;
}
.header-links {
   font-family: "montserratregular", sans-serif;
   text-decoration: none;
   color: white;
   font-size: 22px;
   font-weight: bold;
   text-shadow: 0px -2px black;
}
.header-para {
   font-size: 75px;
   font-family: "lobster";
   color: white;
   text-align: center;
   width: 449px;
   margin: 30px auto;
   text-shadow: 3px 2px 3px #003a13;
}

/********* FIRST SECTION  ***************/

#first-section {
   margin: 90px 5px;
   display: flex;
   justify-content: space-between;
}
.first-section-title {
   width: 309px;
   font-family: "lobster";
   font-size: 49px;
   color: #003a13;
   margin: 15px 0px 0px 0px;
}
.first-section-para {
   width: 646px;
   font-family: "montserratregular";
   font-size: 26px;
   color: #003a13;
}
.first-section-para-bold {
   font-family: "montserratbold";
}
.first-section-button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 218px;
   height: 50px;
   background: #ffa08a;
   border: none;
   color: white;
   font-family: "montserratbold";
   border-radius: 100px;
   font-size: 18px;
}
.arrow {
   align-self: center;
   height: 16px;
   padding-left: 7px;
}

/****************** SECOND SECTION ************************/
#second-section {
   display: flex;
   justify-content: center;
   margin: 45px 0px;
}
.second-section-div-green {
   display: flex;
   flex-direction: column;
   width: 380px;
   height: 486px;
   padding: 23px;
   background-color: #003b30;
}
.second-section-title {
   font-size: 41px;
   width: 252px;
   line-height: 39px;
   color: white;
   font-family: "lobster";
   margin: 10px 0px 9px 0px;
}
.second-section-para {
   color: white;
   font-family: "montserratregular";
   font-size: 19px;
   line-height: 26px;
   height: 293px;
}
.second-section-button {
   align-self: center;
   width: 173px;
   height: 53px;
   border: white 3px solid;
   border-radius: 15px;
   background-color: #003b30;
   color: white;
}
.second-section-div-orange {
   display: flex;
   flex-direction: column;
   width: 380px;
   height: 486px;
   padding: 23px;
   background-color: #ffa08a;
}
.second-section-button-orange {
   align-self: center;
   width: 173px;
   height: 53px;
   border: white 3px solid;
   border-radius: 15px;
   color: white;
   background-color: #ffa08a;
}
.second-section-div-rose {
   display: flex;
   flex-direction: column;
   width: 380px;
   height: 486px;
   padding: 23px;
   background-color: #f7c1a5;
}
.second-section-button-rose {
   align-self: center;
   width: 173px;
   height: 53px;
   border: white 3px solid;
   border-radius: 15px;
   color: white;
   background-color: #f7c1a5;
}

/**********************  THIRD SECTION  *********************/

#third-section {
   display: flex;
   background: #fcf8f7;
   justify-content: center;
   column-gap: 50px;
   margin: 75px 0px 0px 0px;
   padding: 143px 0px;
}
.third-section-container {
   width: 392px;
}
.third-section-title {
   font-family: "lobster", sans-serif;
   font-size: 42px;
   margin: 0;
}
.third-section-para {
   font-family: "montserratregular", sans-serif;
   margin-bottom: 45px;
}
.pright {
   padding-right: 7px;
}
.third-section-img {
   height: 339px;
   width: 393px;
}

/************************ FOURTH SECTION **********************/
#fourth-section {
   background-color: #ffebdf;
   display: flex;
   justify-content: center;
   margin: 0;
}
.fourth-section-container {
   width: 35%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.fourth-section-title {
   font-family: "lobster";
   font-size: 48px;
   margin: 49px 0px 20px 0px;
}
.fourth-section-para1 {
   font-family: "montserratbold";
   color: #003b30;
   font-size: 24px;
   margin: 0px 0px 10px 0px;
}
.fourth-section-para2 {
   font-family: "montserratregular";
   color: #003b30;
   font-size: 19px;
}
.fourth-section-para-icons {
   width: 18%;
   margin-bottom: 50px;
}
.fa-facebook {
   font-size: 42px;
   color: #ffa08a;
}
.fa-instagram {
   font-size: 42px;
   color: #ffa08a;
   padding-left: 8px;
}

/******************** FOOTER *************************/
footer {
   padding: 40px 0px 3px;
   background-color: #003a13;
   color: white;
}
.footer-infos {
   display: flex;
   justify-content: space-around;
}
.footer-location {
   font-family: "montserratregular";
}
.footer-labise {
   font-family: "lobster";
   font-size: 28px;
   line-height: 51px;
}
.footer-follow {
   display: flex;
   flex-wrap: wrap;
   width: 134px;
   font-family: "lobster";
   font-size: 24px;
}
.icon-design-footer {
   padding: 0px 8px;
}
footer ul {
   list-style: none;
}
footer h4 {
   font-family: "lobster";
   font-size: 24px;
   margin: 11px 0px 21px 0px;
}
footer li {
   font-family: "montserratregular";
   font-size: 14px;
   color: rgba(255, 255, 255, 0.38);
   line-height: 21px;
}
.footer-rights-container {
   border-top: rgba(255, 255, 255, 0.38) solid 1px;
   width: 100%;
   margin: 27px 0;
}
.footer-rights-container-para {
   margin: 14px 0px 0px 145px;
   font-size: 11px;
   font-family: "montserratregular";
}
@media screen and (min-width: 500px) and (max-width: 769px) {
   #header-title {
      font-size: 80px;
   }
   .header-links {
      font-size: 19px;
   }
   .header-para {
      font-size: 70px;
   }
   #firt-section {
      margin: 90px 0 60px 4px;
   }
   #first-section img {
      width: 54%;
      height: 367px;
   }
   .first-section-title {
      margin: 0;
      font-size: 43px;
      line-height: 40px;
   }
   .first-section-para {
      width: auto;
      font-size: 18px;
   }
   .first-section-button {
      width: 190px;
      height: 45px;
      font-size: 16px;
   }
   .second-section-div-green {
      padding: 10px;
   }
   .second-section-div-orange {
      padding: 10px;
   }
   .second-section-div-rose {
      padding: 10px;
   }
   .second-section-title {
      font-size: 38px;
      width: 235px;
      line-height: 32px;
   }
   .second-section-para {
      font-size: 15px;
      line-height: 23px;
   }
}
@media screen and (min-width: 320px) and (max-width: 490px) {
   header {
      height: 350px;
   }
   .header-container {
      flex-direction: column-reverse;
   }
   #header-title {
      font-size: 77px;
      margin: 60px;
      text-shadow: 2px 2px 1px black;
   }
   #header-nav {
      margin: auto;
   }
   #header-ul {
      padding: 0;
      column-gap: 40px;
   }
   .header-links {
      font-size: 18px;
   }
   .header-para {
      display: none;
   }
   #first-section {
      flex-direction: column;
      margin: 60px auto;
   }
   .first-section-title {
      text-align: center;
      margin: 15px auto;
   }

   .first-section-para {
      padding: 4px;
      width: fit-content;
      font-size: 20px;
   }
   .first-section-button {
      width: 185px;
      height: 46px;
      font-size: 16px;
      margin: 0 auto 30px;
   }
   #second-section {
      flex-direction: column;
   }
   .second-section-title {
      width: auto;
      font-size: 35px;
   }
   .second-section-para {
      padding: 5px;
   }
   .second-section-div-green,
   .second-section-div-orange,
   .second-section-div-rose {
      width: 100%;
      padding: 0;
      text-align: center;
   }
   #third-section {
      margin: auto;
      flex-direction: column;
      padding: 70px 0;
      text-align: center;
   }
   .third-section-container {
      width: auto;
   }
   .third-section-img {
      width: 100%;
   }
   .third-section-para {
      padding: 5px;
      font-size: 15px;
   }
   .fourth-section-container {
      width: 100%;
   }
   .fourth-section-title {
      font-size: 45px;
   }
   .fourth-section-para1 {
      font-size: 21px;
   }
   .fourth-section-para2 {
      font-size: 16px;
   }
   .fourth-section-para-icons {
      width: 30%;
   }
   footer {
      padding: 18px 0 3px;
   }
   .footer-labise {
      font-size: 23px;
   }
   .footer-infos {
      font-size: 23px;
      justify-content: center;
      align-items: baseline;
   }
   .footer-follow {
      display: none;
   }
   .footer-location {
      font-size: 12px;
   }
   footer li {
      font-size: 12px;
   }
   footer h4 {
      margin: 11px 0 8px;
   }
   .footer-rights-container-para {
      font-size: 10px;
      margin: 14px auto;
      text-align: center;
   }
}
